html {
  font-family: sans-serif;
  line-height: 1.5em;
}

.center {
  text-align: center;
}

code {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Code Pro', 'monospaced';
}


.content {
  max-width: 600px;
  margin: auto;
}


ul {
  margin: 0;
}

h2 {
  margin: 1em 0 0 0;
}

ul {
  list-style: none;
  padding: 0.5em 1em;
}

li {
  padding: 0.2em 0;
}

.warning {
  background-color: rgba(237, 78, 66, 0.5);
  padding: 1.5em;
}
